@import "../../../node_modules/@angular-mdl/core/scss/variables";
$input-text-focus-border-width: 2px;
$popover-direction-up-bottom-offset: $input-text-vertical-spacing + $input-text-focus-border-width;

.mdl-popover {
  background: #fff;
  border: none;
  display: none;
  margin: 0;
  overflow: visible;
  padding: 0;
  position: absolute;

  &.is-visible,
  &.is-animating {
    display: block;
    z-index: 999;
  }
  &.direction-up {
    bottom: $popover-direction-up-bottom-offset;
  }
}
