@import "variables";
@import "mixins";

.mdl-popover {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background: #fff;
  position: absolute;
  overflow: visible;
  visibility: hidden;

  &.is-visible,
  &.is-animating {
    z-index: 999;
    visibility: visible;
  }
}
