# compiled output
/dist
/tmp
/dist-npm

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode

# misc
/.sass-cache
/connect.lock
/coverage
npm-debug.log

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
