<h4>The Popover </h4>

<div>Custom popover</div>

<button
        mdl-button
        (click)="custom.toggle($event)"
        mdl-button-type="icon"
        mdl-ripple>
  <mdl-icon>more_vert</mdl-icon>
</button>

<mdl-popover #custom [style.width.px]="300">
  <div mdl-shadow="6" style="padding: 1rem;">
    <div>
      <b>Lorem ipsum</b> dolor sit amet, consectetur adipiscing elit.
      Ut sed nulla commodo, <i>dignissim magna quis</i>, tristique turpis.
    </div>
  </div>
</mdl-popover>

<div>Card popover</div>

<button
    mdl-button
    (click)="card.toggle($event)"
    mdl-button-type="icon"
    mdl-ripple>
  <mdl-icon>more_vert</mdl-icon>
</button>

<mdl-popover #card>
  <mdl-card mdl-shadow="6">
    <mdl-card-title>
      <h2 mdl-card-title-text>Welcome</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    </mdl-card-supporting-text>
    <mdl-card-actions mdl-card-border>
      <button mdl-button mdl-colored mdl-ripple>Get Started</button>
    </mdl-card-actions>
    <mdl-card-menu>
      <button mdl-button mdl-button-type="icon" mdl-ripple>
        <mdl-icon>share</mdl-icon>
      </button>
    </mdl-card-menu>
  </mdl-card>
</mdl-popover>
