@import "~@angular-mdl/core/scss/color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

.router-outlet {
    flex-grow: 1;
    flex-shrink: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    display: flex !important;
    flex-direction: row;
}

.main-footer {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}
nav {

a.routerLink {
    padding: 8px 40px !important;
    font-size: 18px !important;
    color: unquote("rgb(#{$palette-grey-800})") !important;

&.router-link-active {
     color: unquote("rgb(#{$color-primary})") !important;
 }
}
}

h4{
    text-transform: uppercase;
}

.main-header {
    padding-left: 40px;
}

@media screen and (max-width: 1024px) {
    .main-header {
        padding-left: 72px;
    }
}

.app-main-content {
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

[prism] {
    background: #f5f2f0;
    white-space: pre-wrap;
    padding-left: 1rem;
}

.icon svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
}
