<div
  class="mdl-textfield is-upgraded"
  [class.is-focused]="popoverComponent.isVisible || focused"
  [class.is-disabled]="disabled"
  [class.is-dirty]="isDirty()"
>
  <span
      [attr.tabindex]="!disabled ? 0 : null"
      (focus)="onFocus($event);">
  </span>
  <input #selectInput tabindex="-1"
      [readonly]="disabled || !autocomplete"
      class="mdl-textfield__input"
      (click)="toggle($event)"
      (change)="$event.stopPropagation()"
      (focus)="onInputFocus($event);"
      [placeholder]="placeholder ? placeholder : ''"
      [attr.id]="textfieldId"
      [value]="text">
  <span
      class="mdl-select__toggle material-icons"
      (click)="toggle($event)">
    keyboard_arrow_down
  </span>
  <label class="mdl-textfield__label" [attr.for]="textfieldId">{{ label }}</label>
  <span class="mdl-textfield__error"></span>
  <mdl-popover #popover tabindex="-1"
               [class.mdl-popover--above]="autocomplete"
               [hide-on-click]="!multiple"
               [style.minWidth.%]="100">
    <div class="mdl-list mdl-shadow--6dp">
      <ng-content *ngIf="popoverComponent.isVisible"></ng-content>
    </div>
  </mdl-popover>
</div>
