<div
  class="mdl-textfield is-upgraded has-placeholder" tabindex="0"
  [class.is-focused]="this.popoverComponent.isVisible"
  [class.is-disabled]="this.disabled">
  <div
      class="mdl-textfield__input"
      (click)="toggle($event)"
      [attr.id]="textfieldId">
    {{ text || placeholder }}
  </div>
  <span
      class="mdl-select__toggle material-icons"
      (click)="toggle($event)">
    keyboard_arrow_down
  </span>
  <label class="mdl-textfield__label" [attr.for]="textfieldId"></label>
  <span class="mdl-textfield__error"></span>
  <mdl-popover hide-on-click="!multiple" [style.width.%]="100">
    <div class="mdl-list mdl-shadow--6dp">
      <ng-content></ng-content>
    </div>
  </mdl-popover>
</div>
