@import "color-definitions";

$color-primary: $palette-blue-500;
$color-primary-dark: $palette-blue-700;
$color-accent: $palette-amber-A200;
$color-primary-contrast: $color-dark-contrast;
$color-accent-contrast: $color-dark-contrast;

@import 'material-design-lite';

@import '../../components/popover/popover';
@import '../../components/select/select';

code {
  background: #f5f2f0;
  padding: 2px;
}

@import "prism.css";

[prism] {
  background: #f5f2f0;
  white-space: pre-wrap;
  padding-left: 1rem;
}