<h4>The Select</h4>

<div>With initial value reactive form</div>

<form [formGroup]="form">
  <mdl-select formControlName="personId">
    <mdl-option *ngFor="let p of people" [value]="p.id">{{p.name}}</mdl-option>
  </mdl-select>
</form>

<div>With initial value ngModel</div>

<mdl-select [(ngModel)]="countryCode" placeholder="Select country">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<div>Disabled, synced with previous</div>

<mdl-select [(ngModel)]="countryCode" placeholder="Select country" disabled="true">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<div>Undefined value with placeholder</div>

<mdl-select [(ngModel)]="countryCodeUndefined" placeholder="Select country">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<div>Undefined value without placeholder</div>

<mdl-select [(ngModel)]="countryCodeUndefined">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<div>Multiple with initial value</div>

<mdl-select [(ngModel)]="countryCodes" multiple="true" placeholder="Select countries">
  <mdl-option mdl-ripple *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<div>Multiple, disabled, synced with previous</div>

<mdl-select [(ngModel)]="countryCodes" multiple="true" disabled="true" placeholder="Select countries">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<div>Multiple without initial value</div>

<mdl-select [(ngModel)]="countryCodesUndefined" multiple="true" placeholder="Select countries">
  <mdl-option mdl-ripple *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
