<h4>THE SELECT</h4>

<h5>Reactive form</h5>

<form [formGroup]="form">
  <mdl-select formControlName="personId">
    <mdl-option *ngFor="let p of people" [value]="p.id">{{p.name}}</mdl-option>
  </mdl-select>
</form>

<pre prism ngNonBindable>
  <![CDATA[
<form [formGroup]="form">
  <mdl-select formControlName="personId">
    <mdl-option *ngFor="let p of people" [value]="p.id">{{p.name}}</mdl-option>
  </mdl-select>
</form>
   ]]>
</pre>

<h5>autocomplete example</h5>

<mdl-select label="{{countryLabel}}" [autocomplete]="true" floating-label (inputChange)="onAutocompleteChange($event)" [(ngModel)]="autoselectCountryCode">
  <mdl-option *ngFor="let c of autoselectCountries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<pre prism ngNonBindable>
  <![CDATA[
<mdl-select label="{{countryLabel}}" [autocomplete]="true" floating-label (inputChange)="onAutocompleteChange($event)" [(ngModel)]="autoselectCountryCode">
  <mdl-option *ngFor="let c of autoselectCountries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
   ]]>
</pre>


<h5>ngModel with floating label</h5>

<h6>without initial value</h6>
<mdl-select label="{{countryLabel}}" floating-label [(ngModel)]="otherCountryCode">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<pre prism ngNonBindable>
  <![CDATA[
<mdl-select label="{{countryLabel}}" floating-label [(ngModel)]="otherCountryCode">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
   ]]>
</pre>

<h6>without initial value, with nullable option and placeholder</h6>
<p>By setting an option with a blank value, the select field will revert back to the placeholder text (similar to a textfield).</p>
<mdl-select [(ngModel)]="otherCountryCode2" placeholder="Country">
  <mdl-option [value]=""><em>-- Select a Country --</em></mdl-option>
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<pre prism ngNonBindable>
  <![CDATA[
<mdl-select [(ngModel)]="otherCountryCode2" placeholder="Country">
  <mdl-option [value]=""><em>-- Select a Country --</em></mdl-option>
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
   ]]>
</pre>

<h6>With initial value, without nullable option</h6>
<mdl-select floating-label [(ngModel)]="color" placeholder="Filter by Color">
  <mdl-option value="all"><em>All</em></mdl-option>
  <mdl-option *ngFor="let c of colors" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<pre prism ngNonBindable>
  <![CDATA[
<mdl-select floating-label [(ngModel)]="color" placeholder="Country">
  <mdl-option value="all"><em>All</em></mdl-option>
  <mdl-option *ngFor="let c of colors" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
   ]]>
</pre>

<h5>ngModel with initial value</h5>

<mdl-select [(ngModel)]="countryCode" placeholder="Select country">
  <mdl-option [value]=""><em>None</em></mdl-option>
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<mdl-select [(ngModel)]="countryCode" placeholder="Select country" disabled="true">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>


<pre prism ngNonBindable>
  <![CDATA[
<mdl-select [(ngModel)]="countryCode" placeholder="Select country">
  <mdl-option [value]=""><em>None</em></mdl-option>
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<mdl-select [(ngModel)]="countryCode" placeholder="Select country" disabled="true">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
   ]]>
</pre>

<h5>Multiple with initial value</h5>

<mdl-select [(ngModel)]="countryCodes" multiple="true" placeholder="Select countries">
  <mdl-option mdl-ripple *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<mdl-select [(ngModel)]="countryCodes" multiple="true" disabled="true" placeholder="Select countries">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>


<pre prism ngNonBindable>
  <![CDATA[
<mdl-select [(ngModel)]="countryCodes" multiple="true" placeholder="Select countries">
  <mdl-option mdl-ripple *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>

<mdl-select [(ngModel)]="countryCodes" multiple="true" disabled="true" placeholder="Select countries">
  <mdl-option *ngFor="let c of countries" [value]="c.code">{{c.name}}</mdl-option>
</mdl-select>
   ]]>
</pre>


<h5>Dynamic multiselect</h5>

<p>
  The <code>foodCategory</code> select has <code>(change)="foodSelect.reset()"</code>
  that reloads multiselect options and resets its value.
</p>

<mdl-select [(ngModel)]="foodCategory" placeholder="Select category" (change)="foodSelect.reset()">
  <mdl-option *ngFor="let c of foodCategories" [value]="c.id">{{ c.name }}</mdl-option>
</mdl-select>

<mdl-select #foodSelect [(ngModel)]="food" multiple="true" placeholder="Select food" (change)="onChange(food)">
  <mdl-option mdl-ripple *ngFor="let foodName of foodByCategory[foodCategory]" [value]="foodName">{{ foodName }}</mdl-option>
</mdl-select>



<pre prism ngNonBindable>
  <![CDATA[
<mdl-select [(ngModel)]="foodCategory" placeholder="Select category" (change)="foodSelect.reset()">
  <mdl-option *ngFor="let c of foodCategories" [value]="c.id">{{ c.name }}</mdl-option>
</mdl-select>

<mdl-select #foodSelect [(ngModel)]="food" multiple="true" placeholder="Select food" (change)="onChange(food)">
  <mdl-option mdl-ripple *ngFor="let foodName of foodByCategory[foodCategory]" [value]="foodName">{{ foodName }}</mdl-option>
</mdl-select>
   ]]>
</pre>

<h5>Object value</h5>

<p>
  FormControl return array of coordinate object as value
</p>
<form [formGroup]="arrayForm">
  <mdl-select [(ngModel)]="locations" formControlName="locations" multiple="true" placeholder="Select locations">
    <mdl-option *ngFor="let c of cityCoordinates" [value]="{ latitude: c.latitude , longitude: c.longitude }">{{ c.name }}</mdl-option>
  </mdl-select>
</form>
<p>
  Locations: {{ locations | json }}
</p>

<pre prism ngNonBindable>
  <![CDATA[
<form [formGroup]="arrayForm">
  <mdl-select [(ngModel)]="locations" formControlName="locations" multiple="true" placeholder="Select locations">
    <mdl-option *ngFor="let c of cityCoordinates" [value]="{ latitude: c.latitude , longitude: c.longitude }">{{ c.name }}</mdl-option>
  </mdl-select>
</form>
   ]]>
</pre>
