<div class="mdl-datepicker-header">
  <div class="mdl-datepicker-header-year">{{mDate.format('YYYY')}}</div>
  <h3 class="mdl-datepicker-header-day-month">{{mDate.format('ddd, MMM DD')}}</h3>
</div>

<div class="mdl-dialog__content">
  <div class="mdl-datepicker-month-navigation-buttons">
    <button [disabled]="!prevEnabled" (click)="prevMonth()" class="mdl-datepicker-prev-month" mdl-button mdl-button-type="icon"><mdl-icon>keyboard_arrow_left</mdl-icon></button>
    <button [disabled]="!nextEnabled" (click)="nextMonth()" class="mdl-datepicker-next-month" mdl-button mdl-button-type="icon"><mdl-icon>keyboard_arrow_right</mdl-icon></button>
  </div>
  <div class="mdl-datepicker-month">
    <div class="mdl-datepicker-month-title">{{mCurrentMonth.format('MMMM YYYY')}}</div>
    <div class="mdl-datepicker-weekdays">
       <div class="mdl-datepicker-weekday" *ngFor="let wd of monthGridWeekDays">{{wd}}</div>
    </div>
    <div class="mdl-datepicker-monthgrid">

      <div class="mdl-datepicker-weekdays" *ngFor="let week of monthGridDays">
        <div class="mdl-datepicker-weekday"
             *ngFor="let dayInfo of week.days">
          <button
                  [disabled]="!dayInfo.isCurrentMonth"
                  mdl-button
                  mdl-ripple
                  mdl-button
                  class="day"
                  [ngClass]="{'actual': isActualDate(dayInfo.day)}"
                  (click)="setCurrentDay(dayInfo.day)"
          >{{dayInfo.day.date()}}</button>
        </div>
      </div>

    </div>
  </div>

</div>
<div class="mdl-dialog__actions">
  <button #okButton
          mdl-button mdl-colored="primary"
          type="button"
          (click)="onOk()"
          class="close mdl-datepicker-ok-button">{{okLabel}}</button>
  <button
          mdl-button mdl-colored="primary"
          type="button"
          (click)="onCancel()"
          class="mdl-datepicker-cancel-button">{{cancelLabel}}</button>
</div>