<!DOCTYPE html>
<html>
<head>
  <base href="{{htmlWebpackPlugin.options.baseUrl}}">
  <title>angular2-mdl-ext</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<root-app>Loading...</root-app>
</body>
</html>


